<ul class="todo__link-navigation">
  <li class="todo__link-navigation__link">
    <a
      routerLink="."
      routerLinkActive="todo__link--active"
      [queryParams]="{ query: 'all' }"
      >All</a
    >
  </li>
  <li class="todo__link-navigation__link">
    <a
      routerLink="."
      routerLinkActive="todo__link--active"
      [queryParams]="{ query: 'active' }"
      >Active</a
    >
  </li>
  <li class="todo__link-navigation__link">
    <a
      routerLink="."
      routerLinkActive="todo__link--active"
      [queryParams]="{ query: 'complete' }"
      >Complete</a
    >
  </li>
</ul>
