.error {
  height: 50px;
  font-size: 2.3rem;
  padding: 16px;
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(218, 34, 34);
  margin-bottom: 16px;
}
